
header {

  position: relative;
  height: 250px;
  background-image: linear-gradient(#f1360e, #fe7456);
  border-bottom-left-radius: 20% 10%;
  border-bottom-right-radius: 20% 10%;
}


#titre h1 {

  margin: 0;
  padding: 60px 0;
  color: white;
  font: 44px "helvetica";
  text-align: center;
  text-decoration: none;
}

nav {

  margin: 0;
  font: 25px "helvetica";
  text-align: center;
}

.gestProduc {
  display: block;
}

#logo img {
  margin-left: 60px;
  margin-top: 20px;
  width: 65%;
}

#select a {

  padding: 0px 15px;
  color: white;
  text-decoration: none;
}

#select a:hover {

  text-shadow: 2px 2px 2px black;
}

.menu li {
  display: inline;
}

.menu li a {
  padding: 10px 10px;
}

.products{
  margin-top: 30px;
  text-align: center;
}

.displayprod {
  display: inline-flex;
}


.price {
  padding: 0px 10px 0px 10px;
}


.containers {
  max-width: 1140px;
  padding: 0px;
  margin: 0px auto;
  position: relative;
}

.row{
  margin: 0 !important;
}

.copyright-wrapper {
    font: 14px "helvetica";
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.col-md-4{
   border-radius: 10px;
  border: 3px solid #F03636;
  padding: 10px;
  background: #FFFFFF;
  display: block;
  text-align: center;
  width: 31.333% !important;
  margin: 0.5% 0.5% !important;
  max-height: 300px;

}

/*.col-md-4 img{
  max-height: 300px;
}*/

.container{
  text-align: center;
}


.addButton {
  text-align: right;
}


img {
  max-height: 165px;
  max-width: 300px;
}


#image img{
     max-height: 300px; 
}
input[type="file"]{
  display: inline !important;
}

button{
 border:none;
  padding:10px 20px 10px 20px;
  border-radius:8px;
  background:#d34836;
  font:bold 13px Arial;
  color:#fff !important;
}

input[type="submit"]{
  background: #d34836;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'helvetica', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #d34836;
    font-size: 15px;
}

input[type="submit"]:hover{
    background: #EA6060;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

button:hover{
    background: #E34545;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}


label {
    cursor: pointer;
    color: #000;
    font-weight: bold;
}
label:hover {
    color: #d34836;
}
textarea {
    max-width: 450px;
    max-height: 200px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 3px solid #d34836;
}


input[type="text"] {
    background: #FAFAFA;
    padding: 5px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 3px solid #d34836;;

}

input[type="Date"] {
    background: #FAFAFA;
    padding: 5px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 3px solid #d34836;;

}

input[type="password"] {
    background: #FAFAFA;
    padding: 5px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 3px solid #d34836;;

}

span{
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
}

.features{
border-radius: 3px;
border: 2px solid #F03636;
padding: 4px;
}